/* Montserrat and Fraunces fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* HEX colors, color palette from coolors.co 
--copper: #a8763eff;
--barn-red: #6f1a07ff;
--vanilla: #ece4b7ff;
--bistre: #2b2118ff;
--pakistan-green: #1c3a13ff;
/*

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Fraunces", cursive;
    --primary-color: #000000; /* Black, Primary text color */
    --secondary-color: #2b2118ff; /* Bistree, Used for headlines, buttons and footer*/
    --primary-background-color: #a8763eff; /* Copper, dark background around main content */
    --secondary-background-color: #ece4b7ff; /* Vanilla, lighter background behind main content */
    --header-background-color: #6f1a07ff; /* Barn red, color for header */

    /* Overriding bootstrap accordion standard color for headings */
    --bs-primary-bg-subtle: #white;
    --bs-primary-text-emphasis: #2b2118ff;


}

/* Global styles */
body{
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
}

h1, h2, h3{
    margin-top: 15px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.secondary-background{ /* Used to lighten up text and image area */
    background-color: var(--secondary-background-color);
}

/*Main padding used to protect against menu overlap and distance to footer*/
main{ 
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}
.row
{
    margin-top: 1rem;
    background-color: var(--secondary-background-color);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

/* Override Bootstrap menu defaults for increased contrast */
.nav-link
{
    color: #dddddd;
}

#navbar .active{
    color: #ffffff;
    font-weight:600;
}

.nav-link:hover{
    text-decoration-line: underline;
}

#navbar{
    background-color: var(--header-background-color);
}

/* Footer */

footer{
    padding-top: 1rem;
    /*padding-bottom: 1rem; */
    background-color: var(--secondary-color);
    color: var(--secondary-background-color)
}

footer a{
    text-decoration: none;
    color: var(--secondary-background-color);
}




/* Page styling */

/* Button styling, to replace Bootstrap styling */
/* Transition idea and code provided by mentor Spencer Barriball */

.btn{
    border: 1px solid var(--secondary-color);
    transition: transform 0.5s ease;
    
}

.btn:hover{
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.2);
}

/* Section-text, to be used on columns containing text */
.section-text{
    margin-top: 25px;
    margin-bottom: 25px;
}

/* section-picture, to be used on columns containing pictures */
.section-picture{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* Resources pages */

.link-header
{
    text-align: center;
}

/*Overriding CSS for Accordion styling */

/* Add margin to bottom of accordion, for visual consistency */
.accordion{
    margin-bottom: 1rem;
}

/* Override normal h margin */
.accordion-header
{
    margin-top: 0;
}


/* Override normal row properties when used in accordion */.accordion .row
{
    margin-top: 1rem;
    background-color: white;
    box-shadow:none;
    border-radius:0%;
}

/* Navbar styles */



/* grid visualisation CSS for testing */

/*.container,
.row {
    border: 2px solid black;
}

.col-12, .col-md-10, .col-md-5, .col-lg-8, .col-lg-4, .col-lg-10, .col-lg-5 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Media querys */

/*Tablets or larger */
@media (min-width: 768px) {

    /* Adjust link headline to left when in multiple columns */
    .link-header{
        text-align: left;
    }
    
}

